/*~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~*/

/*COLORS

light grey: #EAEAEA
dark purple: #2E2633
magenta: #542437
light yellow: #F7E6B5
dark yellow: #ECD078
pink: #C02943*/


.button-default{
    display:inline-block;
     font-family: "moonbold", arial, sans-serif;
    padding: 1.5em 2em;
    font-size: 1em;
    background: #552437;
    color:white;
    text-decoration: none;
    border-radius: 1em;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    letter-spacing: 2px;
}

.button-default:hover, .button-default:focus {
  display:inline-block;
    color:white;
    text-decoration: none;
    padding: 2em 2em;
    background: #C22945;
}

.button-default:active{
  display:inline-block;
    padding: 2em 2em;
    background: #552437;
    color:white;
    text-decoration: none;
    border-radius: 1em;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-family: "moonbold", arial, sans-serif;
}


body{
	margin:0px;
	padding: 0px;
	font-family: "open_sansregular", arial, sans-serif;
	font-size: 1em;
}

h1{
	font-family: "moonbold", arial, sans-serif;
	font-size: 5em;
	color: #2E2633;
}

h2{
	font-family: "moonbold", arial, sans-serif;
	font-size: 2em;
}

/* NAV BAR~~~~~~~~~~~~~~~~~*/

.logospace{
	text-align: center;
}

.header-bar{

  width:100%;
  background:white;
}

.nav-item.logo{
	z-index: 9999;
	font-family: "moonbold", arial, sans-serif;
	margin: 0px;
	order: 0;
}

.main-nav-flex{

	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: row;
    flex-direction: row;

    -webkit-align-items: center;
    align-items: center;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    list-style: none;

    font-family: "moonbold", arial, sans-serif;

    -webkit-justify-content: center;
    justify-content: center;
	margin:0px;
	padding: 20px;

}

.welcome-banner-text{
position:absolute;
text-align: center;
 width: 100%; 
 top: 40%; 
 left: 0%; 
 padding-top:5em;
}

.banner{
	position: relative;
	max-width:100%;
	height: auto;
	padding: 0px;
	margin:0px;
	background-color: black;
	opacity:0.7;
}

.welcome-text{
	font-size: 3.4em;
	color: #C02943;

}

.welcome-text2{
	font-size: 1.7em; 

}


.nav-item{
	text-decoration: none;
    display: block;
 	padding-left: 1em;
    color: white;
}

a{
	display: block;
	text-decoration: none;
	color: #552437;
	padding-left: 1em;
	padding-right: 1em;

}

.nav-item a:hover{
 	border-bottom: 2px solid #C02943;
}

.cart{
	position: fixed;
	margin:0px;
	padding: 0px;
	top: 0px;
  	right: 0px;
  	z-index: 9999;
	margin-top: 0px;
}

.cart img{
	float: right;
	position: relative;
	max-width: 50px;
	margin-top: 0px;
	top:0;
	margin-right: 2em;
	padding: 0px;
	clear: left;
}


.nav-item.logo img{
	max-width: 80px;
	max-height: auto;
}

.nav-item.logo a:hover{
 background: none;
 border-bottom: none;
}

/*FOOTER CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer{
	background:#542437;
}

form .contact-form{
	float: right;
	clear: left;
}

form .row{
	padding: 0.5em;
}

label{
	font-family: "moonbold", arial, sans-serif;
	color: #F7E6B5;
	font-size: 12px;
}

input[type="text"] {
  
  padding:0.2em 0.5em;
  color:#555;
  background-color: #E6E6E6;
  font-size: 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

.newsletter{
	background-color: #EAEAEA;
	padding: 5em;
	text-align: center;
}

/*FEATURED ITEMS CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.featured-flex{
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: row;
    flex-direction: row;

    -webkit-align-items: center;
    align-items: center;

	-webkit-justify-content: center;
    justify-content: center;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.featured-item{
	padding: 0em 2em 5em 2em;
}

.featured-prod {
	border-radius: 1em;
	opacity: 1;
  	display: block;
	width: 280px;
	height: auto;
	padding: 0em 2em 0em 2em;
	opacity: 1;
	transition: .5s ease;
  	backface-visibility: hidden;
}

.detail-text {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  transform: translate(115%, -220%);
  -ms-transform: translate(115%, -220%)
}

.details:hover .featured-prod{
	opacity: 0.3;
}

.details:hover .detail-text {
  opacity: 1;
}

.detail-heading{
	 font-family: "moonlight", arial, sans-serif;
	 font-size: 1em;
	 letter-spacing: 2px;
	 color: #F7E6B5;
	 background: #2E2633;
	 padding:.5em 1em ;
	 border-radius: 1em;
}

.featured-products-title{
	text-align: center;
	padding: 1em;
	color: #2E2633;
}

/*CART CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*.cart{
	animation-duration: 3s;
  animation-name: slideOutDown;
}*/

#cart-summary{
	background-color: #EAEAEA;
}



/*CART CSS (slide animation)~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}


/*PRODUCT PAGE CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.product {
	display: block;
	margin: auto;
	filter: white;
}

.product img {
	display: block;
	border-radius: 10px;
	margin: auto;
	width: 300px;
	height: 300px;


}

.product:hover, .product:focus {
	color: #6B4C74;
}

.product-name {
	text-align: center;
	margin-bottom: 0;
	font-family: "open_sansbold", arial, sans-serif;
}

.product-price {
	margin-top: 0.25rem;
	text-align: center;
	font-family: "open_sansregular", arial, sans-serif;
}

.product-price:hover, .product-price:focus {
	color: #6B4C74;
}