/* ~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~ */


/**
 * COLORS light grey: #EAEAEA
 dark purple: #2E2633
 magenta: #542437
 light yellow: #F7E6B5
 dark yellow: #ECD078
 pink: #C02943
 */


/* NORMALIZING~~~~~~~~~~~~~~~~~~ */

.button-default {
    display: inline-block;
    padding: 1.5em 2em;
    color: white;
    border: none;
    border-radius: 1em;
    background: #552437;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.button-default:focus, .button-default:hover {
    display: inline-block;
    color: white;
    background: #C22945;
    text-decoration: none;
}

.button-default:active {
    display: inline-block;
    color: white;
    border-radius: 1em;
    background: #552437;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.container {
    border-top: 5px solid #EAEAEA;
    background-color: #F7F7F7;
}

.email {
    padding: 1em;
    font-size: 0.6em;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "open_sansregular", arial, sans-serif;
    font-size: 1em;
}

h1 {
    color: #2E2633;
    text-align: center;
    font-family: "moonbold", arial, sans-serif;
    font-size: 3em;
}

h2 {
    font-family: "moonbold", arial, sans-serif;
    font-size: 2em;
    padding: 1em;
    color: #2E2633;
    text-align: center;
}

h3, h4 {
    color: #542437;
    font-family: "moonbold", arial, sans-serif;
    letter-spacing: 1px;
}

a {
    color: #2E2633;
    text-decoration: none;
}

p {
    line-height: 2em;
}

.text-link {
    color: #552437;
    text-decoration: underline;
}

.text-link:focus, .text-link:hover {
    color: #C22945;
    text-decoration: underline;
}


/* NAV BAR~~~~~~~~~~~~~~~~~ */

.logospace {
    text-align: center;
}

.header-bar {
    width: 100%;
    background: white;
}

.nav-item.logo {
    z-index: 9999;
    margin: 0px;
    font-family: "moonbold", arial, sans-serif;
    order: 0;
}

.main-nav-flex {
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    padding: 1em;
    -webkit-align-items: center;
    align-items: center;
    font-family: "moonbold", arial, sans-serif;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    list-style: none;
    background: white;
}

.welcome-banner-text {
    z-index: 400;
    top: 10%;
    width: 100%;
    padding: 5em 0em;
    text-align: center;
    background-image: url("../images/testImage.jpg");
    background-size: cover;
    border-top: 5px solid #EAEAEA;
}

.banner {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0px;
}

.welcome-text {
    color: #C02943;
    font-size: 3.4em;
    margin-bottom: 0em;
}

.welcome-text2 {
    font-size: 1.7em;
    margin: 0em;
}

.moonbooks {
    width: 30%;
    height: auto;
}

.nav-item {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

#featured-products {
    padding-bottom: 5em;
}

#featured-products-title {
    padding-top: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nav-item a {
    display: block;
    padding: 0em 1em;
    color: #552437;
    text-decoration: none;
}

.nav-item a:hover {
    border-bottom: 2px solid #C02943;
}

.cart {
    z-index: 9999;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.cart img {
    position: relative;
    top: 0;
    max-width: 50px;
    float: right;
    clear: left;
    margin-top: 0px;
    margin-right: 2em;
    padding: 0px;
}

.nav-item.logo img {
    max-width: 80px;
}

.nav-item.logo a:hover {
    border-bottom: none;
    background: none;
}


/* FOOTER CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#footer {
    background: #2E2633;
    text-align: left;
}

#footer h2 {
    padding: 0.5em;
    color: #C02943;
}

.contact-form {
    display: -webkit-flex;
    display: flex;
    padding: 5em;
    padding-top: 2.5em;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

form .row {
    display: -webkit-flex;
    display: flex;
    padding: 0.5em;
}

label {
    color: #F7E6B5;
    text-align: center;
    font-family: "moonbold", arial, sans-serif;
    font-size: 12px;
}

textarea {
    padding: 0.2em 0.5em;
    color: #555;
    background-color: #E6E6E6;
    font-size: 12px;
}

select {
    padding: 0.5em 2em;
    border: none;
    border-radius: 4px;
    background-color: #EAEAEA;
}

textarea[type="text"]:focus {
    outline: none;
}

input[type="text"] {
    padding: 0.5em 1em;
    color: #555;
    background-color: #E6E6E6;
    font-size: 12px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="number"] {
    padding: 1em 1em;
    color: #555;
    background-color: #E6E6E6;
    font-size: 12px;
}

input[type="number"]:focus {
    outline: none;
}

input[type="date"] {
    padding: 0.5em 1em;
    color: #555;
    background-color: #E6E6E6;
    font-size: 12px;
}

input[type="number"] {
    padding: 0.5em 1em;
    color: #555;
    background-color: #E6E6E6;
    font-size: 12px;
}

input[type="date"]:focus {
    outline: none;
}

.newsletter {
    padding: 5em;
    background-color: #EAEAEA;
    text-align: center;
}


/* ITEMS CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.product-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 3em;
}

.item {
    padding: 2em 2em 1em 2em;
    border: 2px solid #EAEAEA;
    margin: 1em;
    background: #F7F7F7;
    border-radius: 9px;
}

.item-image {
    display: block;
    width: 280px;
    height: auto;
    border-radius: 1em;
    opacity: 1;
    opacity: 1;
    backface-visibility: hidden;
    transition: .5s ease;
}

.detail-text {
    position: absolute;
    opacity: 0;
    -ms-transform: translate(80%, -220%);
    transform: translate(80%, -220%);
    transition: .2s ease;
}

.detail-text2 {
    position: absolute;
    opacity: 0;
    -ms-transform: translate(115%, -220%);
    transform: translate(115%, -220%);
    transition: .2s ease;
}

.details:hover .item-image {
    opacity: 0.3;
}

.details:hover .detail-text {
    opacity: 1;
}

.detail-heading {
    padding: .5em 1em;
    color: #F7E6B5;
    border-radius: 1em;
    background: #2E2633;
    font-family: "moonlight", arial, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
}


/* CART CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.cart-title-flex {
    display: flex;
    margin-top: 2em;
    margin-left: 5em;
    align-items: center;
    flex-direction: row;
}

.cart-title-flex img {
    max-width: 50px;
    max-height: 50px;
}

.process-list-flex {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.process-part {
    padding-right: 3em;
    color: #C9C9C9;
    font-size: 0.7em;
}

.current {
    color: #C02943;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~ */

.cart-flex-item {
    display: flex;
    padding: 1em;
    border-top: 2px solid #EAEAEA;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-flex-item.titles {
    border: none;
}

.cart-flex-item.titles p {
    color: #EAEAEA;
    font-size: 0.8em;
    letter-spacing: 2px;
    padding: 0em 1em;
}

.cart-flex-item.totals {
    border-top: none;
}


/* ~~~~~~~~~~~~~~ */

.cart-item-display {
    margin: 0em 5em;
    background-color: white;
}

.cart-item-display.confirm {
    min-width: 100%;
    padding-top: 4em;
}

.cart-flex-item img {
    display: block;
    width: 100px;
    border-radius: 10px;
}


/* ~~~~~~~~~~~~~ */

.delete img {
    display: block;
    margin: 2em;
    width: 20px;
    height: auto;
}

.like img {
    display: block;
    margin: 2em;
    width: 20px;
    height: auto;
}

.delete {
    max-width: 15%;
    flex-grow: 1;
}

.like {
    max-width: 15%;
    flex-grow: 1;
}

.image {
    flex-grow: 2;
}


.quantity{
  flex-grow: 2;
}

.quantity select#quant{
  padding:0.3em;
  margin:0 4em;
}

.quantity p{
  margin:1em;
}


.prodName {
    max-width: 40%;
    flex-grow: 4;
}

.price {
    max-width: 15%;
    flex-grow: 3;
}

.total {
    max-width: 20%;
    padding-right: 1em;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
}

.final {
    border-top: 2px solid #EAEAEA;
}


/* ~~~~Button placement styling~~~~~~~ */

.procceed-flex {
    display: flex;
    padding-bottom: 3em;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* CART Shipping info~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.cart-shipping-flex {
    display: flex;
    margin: 2em 0em;
    padding: 1em;
    padding-bottom: 6em;
    border: 2px solid #EAEAEA;
    border-top: 20px solid #C02943;
    background: white;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-container {
    margin: 0em 5em;
}

.cart-shipping-title {
    display: flex;
    padding-top: 2em;
    border-bottom: 2px solid #F7E6B5;
    font-family: "moonbold", arial, sans-serif;
    flex-direction: column;
    letter-spacing: 2px;
    text-align: center;
}

.cart-shipping-flex label {
    padding: 0.5em;
    padding-top: 3em;
    color: #542437;
    text-align: center;
}

.confirmed-info {
    padding-top: 3em;
    text-align: center;
}

.confirmed-info h3 {
    color: #542437;
}

.confirmed-info p {
    margin: 0.4em;
}

.thanks {
    text-align: center;
}

.thanks img {
    min-width: 100px;
    padding-top: 2em;
}


/* PRODUCT PAGE CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.product-name {
    margin-bottom: 0;
    text-align: center;
    padding-top: 1.3em;
}

.product-price {
    margin-top: 0.25rem;
    text-align: center;
    font-family: "open_sansregular", arial, sans-serif;
}

.product-price:focus, .product-price:hover {
    color: #6B4C74;
}

.options-flex {
    display: -webkit-flex;
    display: flex;
    padding: 1em;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.opt {
    padding: 1em;
    text-align: center;
}

.opt-title {
    font-size: 1rem;
}

.number-of-pages {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    list-style: none;
    padding: 1em;
    text-align: center;
}

.num {
    padding: 0.7em;
    padding-bottom: 4em;
}

.num:hover {
    color: #C02943;
    text-decoration: underline;
    text-decoration-color: #C02943;
}


/* -------------------- FAQ Page ----------------- */

.faq-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.faq-title {
    padding: 5rem;
    background-color: #EAEAEA;
}

.faq-title h1 {
    font-size: 2rem;
    text-align: center;
}

.faq-list {
    padding: 3rem;
}

.faq-list li {
    padding: 0.5rem 0rem 0.5rem 20rem;
    text-decoration: none;
    font-family: "moonlight", arial, sans-serif;
    list-style-type: none;
}


/*.faq-list:focus, .faq-list:hover {
    text-decoration: underline;
}*/

.faq-answers {
    background-color: #F7E6B5;
    padding: 3rem 0rem 0.5rem 23rem;
    text-align: right;
}

.faq-answers h2 {
    max-width: 45rem;
    font-family: "moonbold", arial, sans-serif;
    font-size: 1rem;
    text-align: left;
}

.faq-answers p {
    max-width: 45rem;
    font-family: "open_sansregular", arial, sans-serif;
    text-align: left;
}

.faq-answers a {
    margin-right: 15rem;
    padding-bottom: 2rem;
    font-family: "open_sansregular", arial, sans-serif;
    font-size: 0.75rem;
}

h1 {
    font-family: "moonbold", arial, sans-serif;
}


/* -------------------- about Page ----------------- */

.about {
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.about-flex-image {
    max-width: 20em;
    padding-top: 5em;
    flex-grow: 1;
    display: block;
}

.about-flex-text {
    padding: 8em;
    padding-top: 2em;
    text-align: center;
    flex-grow: 3;
    line-height: 2em;
    margin: 0.3em 10em;
}

.events {
    padding: 3em 10em;
    border-top: 4px dashed #C02943;
    background-color: white;
}

.events-flex {
    display: flex;
    flex-direction: column;
}

.event-item {
    display: flex;
    flex-direction: row;
}

.events-img {
    width: 30%;
    flex-grow: 2;
}

.events-img img {
    width: 100%;
    height: auto;
    padding-bottom: 2em;
}

.events-content {
    width: 40%;
    padding: 2em;
    flex-grow: 3;
    padding-top: 0;
}

.event-title {
    display: flex;
    align-items: center;
}

.event-title img {
    width: 1.5em;
    padding-right: 0.6em;
}

.event-date {
    display: flex;
    padding: 1em;
    color: #2E2633;
    opacity: 0.4;
    font-family: "open_sansregular", arial, sans-serif;
    font-size: 0.5em;
}


/* -------------------- Product details Page ----------------- */


/* --------- Product Basics (Image + Add to cart) Area ------- */

.product-image {
    display: block;
}

.product-image img {
    width: 50%;
}

.product-basics {
    display: inline-block;
    position: absolute;
    top: 10rem;
    right: 0;
    width: 40%;
    padding: 2rem 4rem 3rem 4rem;
    background-color: white;
}

.product-basics h1 {
    text-align: left;
    font-size: 2rem;
}

.product-basics h2 {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}

.product-basics p {
    margin-bottom: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.product-basics a {
    font-size: 0.75rem;
}

.button-qty {
    display: inline-block;
    padding: 1.5em 1em;
    color: white;
    border: none;
    border-radius: 1em;
    background: #b9b9b9;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.button-qty:focus, .button-qty:hover {
    display: inline-block;
    color: white;
    background: #737373;
    text-decoration: none;
}

.button-qty:active {
    display: inline-block;
    color: white;
    border-radius: 1em;
    background: #552437;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}


/* ------------- Product Details Area -------------- */

.details-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 3em;
}

.product-about {
    display: block;
    background-color: #EAEAEA;
}

.product-about h1 {
    padding-top: 5rem;
    font-size: 1.5rem;
}

.product-about p {
    padding-right: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
}

.product-specs {
    background-color: #F7E6B5;
    flex: 1 1 auto;
}

.product-specs h1 {
    padding-top: 5rem;
    font-size: 1.5rem;
}

table {
    width: 100%;
    padding: 1rem 5rem 5rem 5rem;
}

td {
    padding: 13px;
    border-bottom: 1px solid black;
    text-align: left;
}

.product-review {
    display: block;
    background-color: #EAEAEA;
}

.product-review h1 {
    padding-top: 5rem;
    font-size: 1.5rem;
}

.product-review h2 {
    padding-top: 3rem;
    padding-left: 5rem;
    font-size: 1rem;
}

.product-review p {
    padding-right: 5rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
}
