/* 
    P02: Company Website
    Group 12 - Anshula Dekate, Jarielle Lim
    March 10th, 2017
    
	Style Guide CSS 
	Because the style guide css was clashing with main.css
	we created a separate file for the styleguide's CSS.
*/

/* ---- Nav items CSS ---- */

.header-bar {
    width: 100%;
    background: white;
}

.cart {
    z-index: 9999;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.cart img {
    position: relative;
    top: 0;
    max-width: 50px;
    float: right;
    clear: left;
    margin-top: 0px;
    margin-right: 2em;
    padding: 0px;
}

.main-nav-flex {
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    padding: 1em;
    -webkit-align-items: center;
    align-items: center;
    font-family: "moonbold", arial, sans-serif;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    list-style: none;
    background: white;
}

.nav-item {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.nav-item a {
    display: block;
    padding: 0em 1em;
    color: #552437;
    text-decoration: none;
}

.nav-item a:hover, a:focus {
    border-bottom: 2px solid #C02943;
}

.nav-item.logo {
    z-index: 9999;
    margin: 0px;
    font-family: "moonbold", arial, sans-serif;
    order: 0;
}

.nav-item.logo img {
    max-width: 80px;
}

.nav-item.logo a:hover, a:focus {
    border-bottom: none;
    background: none;
}

/* ---- Footer CSS ---- */

.footer {
    background: #2E2633;
    text-align: left;
}

.footer p {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
    padding-top: 1rem;
}

.footer a {
    color: white;
    font-family: "open_sanslight", arial, sans-serif;
    padding-right: 2rem;
    font-size: 0.75rem;
    text-decoration: none;
}

.footer a:hover, a:focus {
    text-decoration: underline;
}

/* ---- Header Area CSS ---- */

.guide-header {
    padding: 3rem;
    background-color: #EAEAEA;
}

.guide-header h1 {
	font-family: "moonbold", arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.guide-header a {
    padding-right: 1rem;
    text-decoration: none;
}

.subnav-item {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.subnav-item a {
    display: block;
    padding: 0em 1em;
    color: #552437;
    text-decoration: none;
}

.subnav-item a:hover, a:focus {
    border-bottom: 1px solid #C02943;
}

.sub-nav-flex {
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    -webkit-align-items: center;
    align-items: center;
    font-family: "open_sansbold", arial, sans-serif;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    list-style: none;
}

/* ----- Elements Sections CSS ------ */
/* ----- Text Elements CSS ------ */

.guide-subsec {
    margin: 1em 0;
    padding: 0.5rem 0rem 1rem 3rem;
    border-bottom: 1px solid #333;
}

.guide-subsec code {
    background-color: #F7E6B5;
    padding: 0.5em 0.75em;
    display: inline-block;
    width: 70%;
}

.guide-subsec p {
    margin-top: 0;
    max-width: 45rem;
    line-height: 2em;
    font-family: "open_sansregular", arial, sans-serif;
}

.guide-subsec h1, h2, h3, h4 {
    text-align: left; 
    font-family: "moonbold", arial, sans-serif;
}

.guide-subsec li {
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    list-style: none;
}

table {
    width: 100%;
    padding: 1rem 5rem 5rem 5rem;
}

td {
    padding: 13px;
    border-bottom: 1px solid black;
    text-align: left;
}

/* ----- Interactive Elements CSS ------ */

.nav-flex {
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    padding: 1em;
    -webkit-align-items: center;
    align-items: center;
    font-family: "moonbold", arial, sans-serif;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: initial;
    justify-content: initial;
    list-style: none;
    background: white;
}

.text-link {
    color: #552437;
    text-decoration: underline;
}

.text-link:focus, .text-link:hover {
    color: #C22945;
    text-decoration: underline;
}

.button-default {
    display: inline-block;
    padding: 1.5em 2em;
    color: white;
    border: none;
    border-radius: 1em;
    background: #552437;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.button-default:focus, .button-default:hover {
    display: inline-block;
    color: white;
    background: #C22945;
    text-decoration: none;
}

.button-default:active {
    display: inline-block;
    color: white;
    border-radius: 1em;
    background: #552437;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

select {
    padding: 0.5em 2em;
    border: none;
    border-radius: 4px;
    background-color: #EAEAEA;
}

form .row {
    display: -webkit-flex;
    display: flex;
    padding: 0.5rem 0rem 1.5rem 0rem;
}

input[type="text"] {
    padding: 0.5em 1em;
    color: #555;
    background-color: #E6E6E6;
    font-size: 12px;
}

input[type="text"]:focus {
    outline: none;
}

.options-flex {
    display: -webkit-flex;
    display: flex;
    padding: 1em;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.opt {
    padding: 1em;
    text-align: left;
}

.opt-title {
    font-size: 1rem;
}

.opt-box {
    height: 2.5rem;
    width: 10rem;
}

/* ----- Combined Elements CSS ------ */

/* --- Product listing --- */

.product-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 3em;
}

.item {
    padding: 2em 2em 1em 2em;
    border: 2px solid #EAEAEA;
    margin: 1em;
    background: #F7F7F7;
    border-radius: 9px;
}

.item-image {
    display: block;
    width: 280px;
    height: auto;
    border-radius: 1em;
    opacity: 1;
    opacity: 1;
    backface-visibility: hidden;
    transition: .5s ease;
}

.detail-text {
    position: absolute;
    opacity: 0;
    -ms-transform: translate(80%, -220%);
    transform: translate(80%, -220%);
    transition: .2s ease;
}

.details:hover .item-image {
    opacity: 0.3;
}

.details:hover .detail-text {
    opacity: 1;
}

.detail-heading {
    padding: .5em 1em;
    color: #F7E6B5;
    border-radius: 1em;
    background: #2E2633;
    font-family: "moonlight", arial, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
}

.product-name {
    margin-bottom: 0;
    text-align: center;
    padding-top: 1.3em;
}

.product-price {
    margin-top: 0.25rem;
    text-align: center;
    font-family: "open_sansregular", arial, sans-serif;
}

.product-price:focus, .product-price:hover {
    color: #6B4C74;
}

/* --- News section --- */

.events {
    padding: 3em 10em;
    background-color: white;
}

.events-flex {
    display: flex;
    flex-direction: column;
}

.event-item {
    display: flex;
    flex-direction: row;
}

.events-img {

    flex-grow: 2;
}

.events-img img {
    width: 400px;
    height: auto;
    padding-bottom: 2em;
}

.events-content {
    padding: 2em;
    flex-grow: 3;
    padding-top: 0;
}

.event-title {
    display: flex;
    align-items: center;
}

.event-title img {
    width: 1.5em;
    padding-right: 0.6em;
}

.event-date {
    display: flex;
    padding: 1em;
    color: #2E2633;
    opacity: 0.4;
    font-family: "open_sansregular", arial, sans-serif;
    font-size: 0.5em;
}