/* 
	Style Guide CSS 
	Because the style guide css was clashing with main.css
	we created a separate file for the styleguide's CSS.
*/

/* ---- Nav items CSS ---- */

.header-bar {
    width: 100%;
    background: white;
}

.cart {
    z-index: 9999;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.cart img {
    position: relative;
    top: 0;
    max-width: 50px;
    float: right;
    clear: left;
    margin-top: 0px;
    margin-right: 2em;
    padding: 0px;
}

.main-nav-flex {
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    padding: 1em;
    -webkit-align-items: center;
    align-items: center;
    font-family: "moonbold", arial, sans-serif;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    list-style: none;
    background: white;
}

.nav-item {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.nav-item a {
    display: block;
    padding: 0em 1em;
    color: #552437;
    text-decoration: none;
}

.nav-item a:hover a:focus {
    border-bottom: 2px solid #C02943;
}

.nav-item.logo {
    z-index: 9999;
    margin: 0px;
    font-family: "moonbold", arial, sans-serif;
    order: 0;
}

.nav-item.logo img {
    max-width: 80px;
}

.nav-item.logo a:hover a:focus {
    border-bottom: none;
    background: none;
}

/* ---- Header Area CSS ---- */

.guide-header {
    padding: 3rem;
    background-color: #EAEAEA;
}

.guide-header h1 {
	font-family: "moonbold", arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.guide-header a {
    padding-right: 1rem;
    text-decoration: none;
}

.subnav-item {
    display: block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.subnav-item a {
    display: block;
    padding: 0em 1em;
    color: #552437;
    text-decoration: none;
}

.subnav-item a:hover, a:focus {
    border-bottom: 1px solid #C02943;
}

.sub-nav-flex {
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    -webkit-align-items: center;
    align-items: center;
    font-family: "open_sansbold", arial, sans-serif;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    list-style: none;
}

/* ----- Elements Sections CSS ------ */
/* ----- Text Elements CSS ------ */

.guide-subsec {
    margin: 1em 0;
    padding: 0.5rem 0rem 1rem 3rem;
    border-bottom: 1px solid #333;
}

.guide-subsec code {
    background-color: #F7E6B5;
    padding: 0.5em 0.75em;
    display: inline-block;
    width: 50%;
}

.guide-subsec p {
    margin-top: 0;
    max-width: 45rem;
    line-height: 2em;
    font-family: "open_sansregular", arial, sans-serif;
}

.guide-subsec h1, h2, h3, h4 {
    text-align: left; 
    font-family: "moonbold", arial, sans-serif;
}

.guide-subsec li {
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    list-style: none;
}

table {
    width: 100%;
    padding: 1rem 5rem 5rem 5rem;
}

td {
    padding: 13px;
    border-bottom: 1px solid black;
    text-align: left;
}

/* ----- Interactive Elements CSS ------ */

.nav-flex {
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    padding: 1em;
    -webkit-align-items: left;
    align-items: left;
    font-family: "moonbold", arial, sans-serif;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: left;
    justify-content: left;
    list-style: none;
    background: white;
}

.text-link {
    color: #552437;
    text-decoration: underline;
}

.text-link:focus, .text-link:hover {
    color: #C22945;
    text-decoration: underline;
}

.button-default {
    display: inline-block;
    padding: 1.5em 2em;
    color: white;
    border: none;
    border-radius: 1em;
    background: #552437;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.button-default:focus, .button-default:hover {
    display: inline-block;
    color: white;
    background: #C22945;
    text-decoration: none;
}

.button-default:active {
    display: inline-block;
    color: white;
    border-radius: 1em;
    background: #552437;
    text-decoration: none;
    font-family: "moonbold", arial, sans-serif;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

/* --- LEFT TO STYLE: INPUT FIELDS + DROPDOWN MENU --- */

/* ----- Combined Elements CSS ------ */

