*{
	box-sizing: border-box;
}

[class^="grid-col"]{
	float:left;
}

.grid-row::after{
	content:"";
	display: block;
	clear: both;
}
	
.grid-col-1of5{
		width:100%;
	}


@media(max-width: 30em){
	
	.grid-col-1of5{
		width:100%;
	}
}

@media(min-width: 30em){
	
	.grid-col-1of5{
		width:20%;
	}

}
